.vscode/launch.json
packages/engines/__pycache__/wizard.cpython-39.pyc
packages/engines/__pycache__/checklist.cpython-39.pyc
packages/backend/__pycache__/database.cpython-39.pyc
packages/__pycache__/home.cpython-39.pyc
